/*
=================================================

NightCast Ver4
Responsive CSS

Responsible for:
- Mobile
- Tablet
- Desktop
- PWA
- APK Layout

=================================================
*/





/*
=========================
LARGE DESKTOP
=========================
*/


@media (max-width:1400px){


    .content-area{

        padding:25px;

    }


}







/*
=========================
LARGE TABLET
=========================
*/


@media (max-width:1200px){



    .stats-grid {


        grid-template-columns:

        repeat(2,1fr);


    }





    .dashboard-grid{


        grid-template-columns:

        1fr;



    }





    .filter-row {


        grid-template-columns:

        repeat(2,1fr);


    }





    .page-title {


        font-size:

        24px;


    }




    .sidebar{


        width:

        240px;


    }



}









/*
=========================
TABLET
=========================
*/


@media (max-width:992px){



    .app-layout{


        overflow-x:hidden;


    }






    .stats-grid {


        grid-template-columns:

        repeat(2,1fr);


    }






    .dashboard-grid{


        grid-template-columns:

        1fr;


    }






    .audio-player {


        flex-direction:

        column;


        align-items:

        stretch;


    }






    .modal-dialog {


        max-width:

        95%;


    }





    .table-container{


        overflow-x:auto;


    }






}





